doctype
html
  head
    title 大型ディスプレイ比較 :: syoncase
    link(href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Lato:400,700" rel="stylesheet")
    link(rel="stylesheet" href="/showcase/main.css")
    script(src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/riot/2.6/riot+compiler.min.js")
    script(type="riot/tag" src="/showcase/assets/components/case.tag")
    script(type="riot/tag" src="/showcase/assets/components/case-list.tag")
  body
    != yield

    script(src="/showcase/assets/main.js")
