.container

  .case
    img.view(src="http://images.amazon.com/images/P/B01J9XCYW0.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B01J9XCYW0/") Dell ディスプレイ モニター SE2717H 27インチ/IPS非光沢/6ms/FreeSync/HDMI,VGA/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B01I1HI14A.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B01I1HI14A/") Dell ディスプレイ モニター P2717H/27 インチ/IPS/6ms/VGA,DP,HDMI/USBハブ/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B00XN15PR6.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B00XN15PR6/") Dell ディスプレイ モニター U2715H 27インチ/WQHD/IPS非光沢/6ms/DPx2(MST),HDMIx2/sRGB99%/USBハブ/フレームレス/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B01BS8MYMO.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B01BS8MYMO/") Dell ディスプレイ モニター S2817Q 27.9インチ/4K/TN非光沢/2ms/DPx2,HDMIx2/USBハブ/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B00OLFMGCU.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B00OLFMGCU/") Dell ディスプレイ モニター S2715H 27インチ/フルHD/IPS光沢/6ms/VGA,HDMI/スピーカ内蔵/USBハブ/フレームレス/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B01I1HI9O2.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B01I1HI9O2/") Dell ディスプレイ モニター U2717D/27インチ/QHD/IPS/6ms/DPx2(MST),mDP,HDMI/sRGB99%/USBハブ/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B00PXXIYMK.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B00PXXIYMK/") Dell ディスプレイ モニター P2715Q 27インチ/4K/IPS非光沢/6ms/HDMI,DPx2(MST)/sRGB99%/USBハブ/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B017SMDN2O.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B017SMDN2O/") Dell ディスプレイ モニター UP2716D 27インチ/WQHD/IPS非光沢/6ms/DPx2(MST),HDMI/AdobeRGB100%/USBハブ/フレームレス/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B01I1HI1OU.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B01I1HI1OU/") Dell ディスプレイ モニター P4317Q/4K/42.5 インチ/IPS/8ms/DP,mDP,HDMI,VGA,RS232/USBハブ/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B012QX4VWQ.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B012QX4VWQ/") Dell ディスプレイ 曲面 モニター SE2716H 27インチ/フルHD/VA非光沢/6ms/VGA,HDMIx2/スピーカ内蔵/フレームレス/3年間保証

  .case
    img.view(src="http://images.amazon.com/images/P/B00ISLBNQS.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B00ISLBNQS/") Dell Professional シリーズ 28インチ 液晶ディスプレイ (4Kモニタ/3840x2160/TN非光沢液晶/5ms/ブラック) P2815Q

  .case
    img.view(src="http://images.amazon.com/images/P/B01J9XCZEC.09_SL500_.jpg")
    a.detail(href="https://www.amazon.co.jp/dp/B01J9XCZEC/") Dell ディスプレイ モニター UP3017/30インチ/IPS/6ms/HDMI,DP,mDP,mST/AdobeRGB99%/USBハブ/3年間保証
