.container

  case-list

  :markdown
    - [第4回 TN？VA？IPS？──液晶パネル駆動方式の仕組みと特徴を知ろう \| EIZO株式会社](http://www.eizo.co.jp/eizolibrary/other/itmedia01_04/)
    - [液晶パネルの種類の違い【IPS/TN/VA】【グレア/ノングレア】](http://it-infoyasan.com/about-display-panel/)
