.container {
  width: 970px;
  margin: 0 auto;
}

.case {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  &:last-child {
    border: 1px solid #e0e0e0;
  }

  .detail {
    padding: 15px;
  }
  img.view {
    width: 200px;
  }
  a {
    flex: 1;
  }
  .title {
    margin: 0;
  }
  .ppi {
    font-size: 24px;
    background-color: #eee;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .sfx {
      font-size: 14px;
    }
  }
}
