.container

  case-list

  :markdown
    - [第4回 TN？VA？IPS？──液晶パネル駆動方式の仕組みと特徴を知ろう \| EIZO株式会社](http://www.eizo.co.jp/eizolibrary/other/itmedia01_04/)
    - [液晶パネルの種類の違い【IPS/TN/VA】【グレア/ノングレア】](http://it-infoyasan.com/about-display-panel/)
    - [iPhone 6で改めて考える画面解像度とUI \| dotproof](http://www.dotproof.jp/2014/09/11/iphone-6-ppi/)
    - [オススメの4Kディスプレイ比較。40インチの大型液晶を買って気付いた違い。 \| 自作パソコンdeゲーム野郎](http://jisaku-game.com/archives/2088)
