body {
  font-family: Lato, sans-serif;
  color: #333;
}

.container {
  width: 970px;
  margin: 0 auto;
}

.case {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  &:last-child {
    border: 1px solid #e0e0e0;
  }

  .photo {
    width: 200px;
    img.view {
      width: 200px;
    }
  }
  .detail {
    margin-left: 15px;
    padding: 15px;
  }
  a {
    flex: 1;
  }
  .product {
    font-size: 24px;
    margin-bottom: .5em;
    display: flex;
    align-items: center;
    .maker {
      font-weight: bold;
    }
    .kata {
      margin-left: .5em;
      padding: 2px 4px;
      font-family: 'Anonymous Pro', monospace;
      color: #4d4d4d;
      border: 1px solid #757575r;
      border-radius: 3px;
    }
  }
  .title {
    margin: 0 0 1em;
    font-family: sans-serif;
  }
  .spec-chips {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }
  .chip {
    font-size: 22px;
    background-color: #f5f5f5;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sfx {
      font-size: 12px;
      color: #757575;
    }
  }
  .meta {
    font-size: 11px;
    color: #757575;
  }
}
