.container

  case-list

  :markdown
    ### Learn
    - [第4回 TN？VA？IPS？──液晶パネル駆動方式の仕組みと特徴を知ろう \| EIZO株式会社](http://www.eizo.co.jp/eizolibrary/other/itmedia01_04/)
    - [液晶パネルの種類の違い【IPS/TN/VA】【グレア/ノングレア】](http://it-infoyasan.com/about-display-panel/)
    - [iPhone 6で改めて考える画面解像度とUI \| dotproof](http://www.dotproof.jp/2014/09/11/iphone-6-ppi/)
    
    ### Review
    - [オススメの4Kディスプレイ比較。40インチの大型液晶を買って気付いた違い。 \| 自作パソコンdeゲーム野郎](http://jisaku-game.com/archives/2088)
    - [比較2016' PC用4K 5K液晶モニター14機の性能とおすすめ（前編）【EIZO・イイヤマ・Dell・BenQ・ASUS】Win Mac 5K 4K液晶ディスプレイ: 家電批評モノマニア](http://monomania.sblo.jp/article/97844714.html)
    
    ### Memo
    - VESA向けにスタンドなし時の kg
    - 主要アームの耐重量
    - 応答速度
    - 価格表記
    - 特徴列挙（強み・弱み）
    - 関連URL（公式ページ、レビュー）
